body{
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quiz{ /*quiz box*/
  background-color: beige;
  padding:20px 30px;
  margin-top: 20%;
  width:500px;  /*so that the size of the box doesn't change when the length of the question is  bigger*/
}


.questions{ /*questions*/
  margin-bottom: 10px;
  font-size: 1.5em;
}

.options li{  /*options*/
  margin-bottom: 20px;
  border: 2px solid brown;
  padding:15px;
  list-style: none;
}

button{  /* "next" button*/
  background-color:brown;
  color:beige;
  padding:5px;
  margin-bottom: 10px;
  margin-left: 100px;
  width: 100px;
}

.q_num{  /*question number*/
  text-align: center;
}

.correct{  /*color for choosing the correct answer*/
  background-color: green;
}

.incorrect{  /*color for choosing the wrong answer*/
  background-color: red;
}

.show-correct{  /*color for showing the correct answer if the user guessed it wrong*/
  background-color: blue;
}

.gameFinished{  /*for the 'quiz completed' card*/
  background-color: black;
  color: blue;
  padding:20px 20px;
  margin-top: 60%;
}







 
  

 